[submodule "libs/CLI11"]
	path = libs/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/easyloggingpp"]
	path = libs/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
